<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
         <div>
	    	<section class="userProfile" ng-class="{hide: !topHeaderControllerVm.userObject.userName}">
	    		Welcome {{topHeaderControllerVm.userObject.userName}}
	    		<i class="fa fa-sign-out" aria-hidden="true" ng-click="topHeaderControllerVm.logout()"></i>
	    	</section>
	    	<section class="userProfile" ng-class="{hide: topHeaderControllerVm.userObject.userName}">
	    	
	    		<i class="fa fa-user" aria-hidden="true" ng-click="topHeaderControllerVm.logIn()"></i>
	    	</section>
    	</div>
        <a class="navbar-brand" href="index.html">Mathina Tradus</a>
    </div>
  
    <!-- /.navbar-header -->
   <!--  <header-notification></header-notification>

    <sidebar></sidebar> -->
    <div ng-class="{hide: !topHeaderControllerVm.spinnerEvent.visible}" class="spinner-background">
    	<div class="spinner-image"><img src="@@cxt/assets/img/spinner.gif" /></div>
	</div>
</nav>
