.optionsRow {
	width:100%;
	padding:2%;
	.overlay {
		z-index: 101;
	    background: black;
	    position: absolute;
	    height: 500px;
	    opacity: 0.5;
	    width: 23%;
	    
	    @include respond-to(mobile) { 
			width: 88%;
		    clear: both;
		    content: "";
		    height: 130px;
		    margin-left: 0px;
		}
	}
	.column {
		width:25%;
		float:left;
		margin-left : 15px;
		border: 2px solid #e8e8e8;
   		
   		min-height:500px;
		header {
			font-weight : bold;
			padding :15px;
			border-bottom : 1px solid #e8e8e8;
			background: $color_3;
			color: $color_1;
		}
		@include respond-to(mobile) { 
			width : 100%;
			clear:both;
			content : "";
			min-height:0px;
			margin-left : 0px;
			margin-top : 10px;
		}
		
		.formElement {
			width:100%;
			clear:both;
			padding-left: 10px;
			padding-right: 10px;
			&.error{
				width: 90%;
    			margin: 10px;
			}
			&.info{
				width: 90%;
    			margin: 10px;
    			border: 1px solid $color_3;
			}
			fieldset {
				border: none; 
   				margin: none; 
     			padding: none;
			}
			&.twoButtons {
				padding:10px;
				margin : 2px;
				.button1 {
					background:$color_3;
					margin-left:1%;
					width:48%;
					float:left;
					cursor:pointer;
					text-align:center;
					.fa {
						color:$color_1;
					}
				}
				.button2 {
					@extend .button1;
				}
			}
			.formOptions {
				float:right;
				.fa {
					margin:2px;
					cursor:pointer;
				}
			}
		}	
	}
}

.row {
	
	width:100%;
	float:left;
	margin-left : 15px;
	border: 2px solid #e8e8e8;

	header {
		font-weight : bold;
		padding :15px;
		border-bottom : 1px solid #e8e8e8;
		background: $color_3;
		color: $color_1;
	}
}


