.twoColumnFormBox {
	padding : 5px;
	border: 1px solid $color_2;
	.innerRow {
		width:100%;
		div {
			float:left;
			width:50%;		}
		
	}
	
}
.card {
	.form-header {
	    color: #fff;
	    text-align: center;
	   
	    margin-bottom: 3rem;
	    padding: 1rem;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	    -o-border-radius: 2px;
	    border-radius: 2px;
	    h3 {
    		margin: 0;
    		padding: .7rem;
    	}
	}
}
.md-form {
	position: relative;
	.btn {
		margin-bottom: 1.5rem;
	}
	.prefix {
		position: absolute;
	    width: 3rem;
	    font-size: 2rem;
	    -webkit-transition: color .2s;
	    -moz-transition: color .2s;
	    -o-transition: color .2s;
	    -ms-transition: color .2s;
	    transition: color .2s;
	    @media only screen and (max-width: 768px) {
	    	font-size: 0rem;
	    }
	}
}
.card-block {
    padding: 1.25rem;
   }